@font-face {
    font-family: 'Minecraftia';
    src: url('fonts/Minecraftia-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Minecraftia', sans-serif; /* Fallback to sans-serif if font is not loaded */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Optional: Light gray background */
}

.container {
    text-align: center;
}

h1 {
    font-size: 4rem; /* Adjust size as needed */
    margin: 0;
}
